@{
    ViewData["Title"] = "Miel";
}

<div class="text-center">
    <h1 class="display-4">Speciale tab voor de enige echte <strong>MIEL</strong></h1>
    <p> Nog 1 extra <strong>MIEL</strong></a>.</p>
</div>
